.rdls-underline {
    line-height: 1.2;
    font-size: 3em;
    font-weight: 700;
    background-image: linear-gradient(transparent calc(100% - 3px), #000 3px);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size 0.8s;
    color: #000;
    cursor: pointer;
  }
  @media (min-width: 1000px) {
    .underline {
      font-size: 5em;
    }
  }
  .rdls-underline.yellow {
    background-image: linear-gradient(transparent 60%, #F8CD07 40%);
  }
  .rdls-underline:hover {
    background-size: 100% 100%;
  }



.rdls-underline2 { 
    color: #000;
    display:inline-block; 
    margin:0;
    text-transform:uppercase; }
.rdls-underline2:after {
    display:block;
    content: '';
    border-bottom: solid 2px #7635F5;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
  }
.rdls-underline2:hover:after { transform: scaleX(1); }
.rdls-underline2.fromRight:after{ transform-origin:100% 50%; }
.rdls-underline2.fromLeft:after{  transform-origin:  0% 50%; }